table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
}

table tr {
  border: 1px solid #ddd;
  padding: 0.75rem;
}

table th,
td {
  padding: 0.75rem;
}

table th {
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
  }
  table td {
    display: block;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
