#root {
  padding: 2rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#root nav ul li {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

#root nav ul li:hover {
  background-color: #036bfc;
  color: #ffffff;
}
